// @import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body, html {
    
    margin:0;
    padding:0;
    height:100%;

    .main-container {
        display:flex;
        min-height:100vh;
        flex-direction:column;
        
        .content {
            width:100vw;
        }
        .info {
            
            height:12vh;
            order:0;
            display:flex;
            flex-direction:row;
            
            .title {
                padding:0.5em 0 0.25em 15px;
                width:75vw;
                h1{
                    margin:-5px 0 0 0;
                }
                p {
                    text-align:justify;
                    margin:auto;
                }
            }
            .input {
                text-align:right;
                padding:10px 15px 0 0;
                width:25vw;
                p {
                    margin:0.2em 0 0 0;
                    cursor:pointer;
                    &:hover {
                        opacity:0.5;
                    }
                }
                .inline {
                    display:inline-block
                }
            }
            
        }
        .settings {
            height:33vh;
            order:1;
            display:flex;
            flex-direction:column;
            align-items: center;
            background-color:#ccc;
            .city {
                width:100vw;
                height:25%;
                text-align:center;
                h2 {
                    margin-top:0.25em;
                }
            }
            .console {
                display:flex;
                width:100vw;
                height:75%;
                
                .effect {
                    height:100%;
                    margin:auto;
                    .btn-onoff {
                        
                    }
                    .btn {
                        // margin:auto;
                        margin-top:0.25em;
                        height:100px;
                        width:100px;
                        canvas {
                            height:100%;
                            width:100%;
                            cursor:default;
                            // border-radius:0;
                        }
                    }
                    p {
                        margin:0;
                        // padding:0.25em;
                        text-align:center;
                    }
                }
            }
        }
        .sequencer {
            height:55vh;
            order:2;
            h1 {
                font-size:7em;
                margin:0.9em 0 0 0;
                padding:0;
                text-align:center;
            }
        }
    
        .pac-icon {
            display:none;
        }
        #searchTextField {
            width:0px;
            // width:calc(100% - 31px - 0.5em);
        }
    }
    
    input[type=text] {
        cursor:text;
        border-radius:0;
        moz-border-radius:0;
        webkit-border-radius:0;
        box-sizing:initial;
        -moz-box-sizing:initial;
        -webkit-box-sizing:initial;
        &::-moz-selection {
            background: #ddd;
        }
        &::selection {
            background: #ddd;
        }
        &::-webkit-selection {
            background: #ddd;
        }
    }
    .nodisplay {
                    display:none;
                }
}