// @import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
@font-face {
   font-family:Lombok;
   src: url(../fonts/Lombok.otf)
}

body, html { 
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    background-color:black;
    .main-container {
        display:flex;
        min-height:100vh;
        flex-direction:column;
        header {
            height:10vh;
            order:0;
            display:flex;
            flex-direction:row;
            .main-title {
                padding:0.5em 0 0.25em 15px;
                width:75vw;
                h1{
                    margin:0 0 0.2em 0;
                    font-family:'Lombok',sans-serif;
                    color:#fff;
                }
                p {
                    text-align:justify;
                    margin:auto;
                    font-family: 'Raleway',sans-serif;
                    color:#e5e5e5;
                }
            }
            .input {
                text-align:right;
                padding:10px 15px 0 0;
                width:25vw;
                p {
                    margin:0.2em 0 0 0;
                    cursor:pointer;
                    font-family:'Abel', sans-serif;
                    color:#e5e5e5;
                    font-size:0.85em;
                    &:hover {
                        opacity:0.5;
                    }
                }
                .nodisplay {
                    display:none;
                }
                .inline {
                    display:inline-block
                }
                #searchTextField {
                    width:0px;
                }
            }
        }
        .settings {
            height:30vh;
            order:1;
            display:flex;
            flex-direction:column;
            // align-items: center;
            // background-color:#ccc;
            .console {
                display:flex;
                width:80vw;
                // background-color:white;
                margin:auto;
                font-family:'Abel',sans-serif;
                color:#e5e5e5;
                .effect {
                    height:100%;
                    margin:auto;
                    .btn {
                        // margin:auto;
                        margin:0.2em 0 0.2em 0;
                        height:100px;
                        width:100px;
                        canvas {
                            height:100%;
                            width:100%;
                            cursor:default;
                        }
                    }
                    p {
                        margin:0;
                        // padding:0.25em;
                        text-align:center;
                    }
                    .nodisplay {
                        display:none;
                    }
                }
            }
        }
        .main-seq {
            height:50vh;
            display:flex;
            order:2;
            width:100vw;
            .sequencer {
                display:flex;
                width:100%;
                height:100%;
                canvas {
                    width:99%;
                    height:100%;
                    margin:auto;
                    padding-bottom:0.5em;
                }
            }
        }
        footer {
            height:10vh;
            display:flex;
            order:3;
            width:100vw;
            .start-btn {
                display:flex;
                width:100%;
                height:100%;
                canvas {
                    width:100%;
                    margin:0 10px 5px 10px;
                }
            }
        }
    }
    .pac-icon {
        display:none;
    }
}

// input[type=text] {
// cursor:text;
// border-radius:0;
// moz-border-radius:0;
// webkit-border-radius:0;
// box-sizing:initial;
// -moz-box-sizing:initial;
// -webkit-box-sizing:initial;
// &::-moz-selection {
//     background: #ddd;
// }
// &::selection {
//     background: #ddd;
// }
// &::-webkit-selection {
//     background: #ddd;
// }
// }